<ion-header>
  <ion-navbar>
    <ion-title>{{ 'quiz.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="selectedKanji && optionKanjis">

  <div class="counter">{{current}}/{{total}}</div>

  <ion-grid>
    <ion-row>
      <ion-col col12 class="kanji">{{selectedKanji.kanji}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col6 class="yomi">
          <ion-grid>
            <ion-row>
                <ion-col col-6>
                    {{ 'quiz.kunyomi' | translate }}:
                </ion-col>
                <ion-col col-6>{{format(selectedKanji.kunyomi)}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col6 class="yomi">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                    {{ 'quiz.onyomi' | translate }}:
                </ion-col>
                <ion-col col-6>{{format(selectedKanji.onyomi)}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col12>
        <ion-list #answers radio-group>
          <ion-item *ngFor="let k of optionKanjis" col12>
            <ion-label>{{format(k.meaning)}}</ion-label>
            <ion-radio [value]="k.id" (click)="validate(k.id)" [disabled]="next" #answer></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12><button ion-button block (click)="goNext()" *ngIf="next">{{this.current == this.total ? ('quiz.finish' | translate) : ('quiz.next' | translate)}}</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-segment>
      <div class='aGood'>{{good}}</div>
      <div class='aBad'>{{bad}}</div>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
