<ion-header>

  <ion-navbar>
    <ion-title>Quiz</ion-title>
  </ion-navbar>

  <span class="counter">{{current}}/{{total}}</span>
</ion-header>


<ion-content padding *ngIf="selectedKanji && optionKanjis">
  <ion-grid>
    <ion-row>
      <ion-col col12 class="kanji">{{selectedKanji.kanji}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col6 class="yomi">
          <ion-grid>
            <ion-row>
                <ion-col col-6>
                  Kunyomi:
                </ion-col>
                <ion-col col-6>
                  {{selectedKanji.kunyomi}}
                </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col6 class="yomi">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  Onyomi:
                </ion-col>
                <ion-col col-6>
                  {{selectedKanji.onyomi}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col12>
        <ion-list #answers radio-group>
          <ion-item *ngFor="let k of optionKanjis" col12>
            <ion-label>{{k.meaning}}</ion-label>
            <ion-radio [value]="k.id" (click)="validate(k.id)" [disabled]="next" #answer></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12><button ion-button block (click)="goNext()" *ngIf="next">{{this.current == this.total ? 'Finish': 'Next'}}</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-segment>
      <div class='aGood'>{{good}}</div>
      <div class='aBad'>{{bad}}</div>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
