page-selection {
    .card {
        height: 30%;
        text-align: center;
    }
    .card-content {
        height: 100%;
    }
    .card:nth-child(1) .card-content {
        background-color: #4c80dc;
    }
    .card:nth-child(2) .card-content {
        background-color: #78caa8;
    }
}
