page-resume {
    ion-grid {
        height: 90%;
    }
    
    .title {
        font-size: 22px;
        text-align: center;
    }
    
    .furigana {
        font-style: italic;
        font-size: 1.6vh;
        margin-top: 5vh;
        text-align: center;
    }

    .translated {
        text-align: center;
        margin-top: 5vh;
        font-size: 2vh;
    }

    .cell {
        padding-left: 4vh;
        padding-right: 4vh;
        height: 2.5vh;
        border-radius: 20px;
    }

    .resultitle {
        margin-top: 12vh;
        font-size: 5vh;
        text-align: center;
    }

    .result {
        margin-top: 5vh;
        font-size: 3vh;
        text-align: center;
    }

    .restart {
        margin-top: 1vh;
    }
    .good {
        background-color: #e6ffe6;
        color: green !important;
    }
    .bad {
        background-color: #ffcfd7;
        color: #D04E50 !important;
    }

    //padding-top: 25%;
    //font-size: 5vh;
}
