page-home {
    ion-grid {
        .row:nth-child(1) {
            margin-top: 5%;
        }
        .row:nth-child(2) {
            margin-top: 5%;
        } 
        .row:nth-child(3) {
            margin-top: 5%;
        }   
        .kanji {
            font-size: 8vh;
        }
        .welcome {
            text-align: center;
            font-size: 2.5vh;
        }
        .japan-flag {
            position: relative;
            width: 65%;
            height: 30vh;
            background-color: white;
        }
        .japan-flag > img {
            width: 100%;
            height: 30vh;
            object-fit: contain;
        }
    }
    
    ion-col {
        text-align: center;
    }
}
