page-home {
    ion-grid {
        .row:nth-child(1) {
            margin-top: 5vh;
        }
        .row:nth-child(2) {
            margin-top: 5vh;
        }
        .row:nth-child(3) {
            margin-top: 20vh;
        }   
        .kanji {
            font-size: 6em;
        }
    }
    
    ion-col {
        text-align: center;
    }
}
