page-quiz-kanji {
    .yomi {
        font-style: italic;
        font-size: 0.8em;
    }
    .kanji {
        text-align: center;
        font-size: 16vh;
    }
    .item-radio {
        padding-left: 0;
        border-radius: 10px;
    }
    .item-radio .label{
        padding-left: 10px;
    }
    .item-radio {
        border-top: 0;
        border-bottom: 0;
    }
    .item-block:first-child {
        border-top: 0 !important;
    }
    .item-block:last-child {
        border-bottom: 0 !important;
    }
    .label {
        color: black !important;
    }
    .radio-inner {
        border-color: black !important;
    }
    .radio-checked .radio-inner {
        display: none;
    }
    .button-effect {
        display: none !important;
    }
    .scroll-content {
        margin-top: 10% !important;
    }
}
