// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bottom-btn {
    position: fixed;
    top: 90%;
    width: 92%;
}
.bottom-btn-when-footer {
    position: fixed;
    top: 78%;
    width: 93%;
}
.centered-parent {
    position: relative ;
    height: 100%;
    text-align: center;
}
.centered {
    margin: 0;
    position: absolute;               
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    font-size: 4vh;
}
.counter {
    position: fixed;
    right: 2vh;
    margin-top: 5%;
}
.answer {
    margin-left: 5vh;
    padding-left: 4vh;
    margin-right: 5vh;
    padding-right: 4vh;
    padding-top: 0.1vh;
    padding-bottom: 0.1vh;
    border-radius: 10px;
}
.good-answer {
    background-color: #8bf38b;
    color: green;
}
.bad-answer {
    background-color: #fdb0b1;
    color: #D04E50;
}
.green {
    background-color: #e6ffe6;
    color: green !important;
}
.green .label {
    color: green !important;
}
.red {
    background-color: #ffcfd7;
    color: #D04E50;
}
.red .label {
    color: #D04E50 !important;
}
.green .radio-checked {
    border-color: green;
}
.red .radio-checked {
    border-color: red;
}
.italic {
    font-style: italic;
}
.label {
    opacity: 1 !important;
}
.white {
    color: white;
}