<ion-header>
  <ion-navbar>
    <ion-title>{{ 'quiz.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="selectedWord && optionWords">
  <div class="counter">{{current}}/{{total}}</div>
  <ion-grid>
    <ion-row>
      <ion-col col12>
        <div class="word">{{ selectedWordTranslation }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col12>
          <div class="word italic small">{{ selectedWord.romanji }}</div>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col col12> 
        <div class="container">
          <div *ngFor="let s of solution; let i=index" class="box multiple centered-parent" (click)="clearSelection(i)" #solution><div class="centered character">{{s}}</div></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="next">
      <ion-col col12>
        <div class="container result {{ isValidAnswer() ? 'good-result' : 'bad-result' }}">
          {{ isValidAnswer() ? ('quiz.success' | translate) : ('quiz.incorrect' | translate:param_result) }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="bottom">
      <ion-col col12>
        <div class="container">
          <div *ngFor="let s of optionWords" class="box multiple centered-parent" (click)="selected(s)"><div class="character centered">{{s}}</div></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="bottom-btn-when-footer">
      <ion-col col-12><button ion-button block (click)="goNext()" *ngIf="next">{{this.current == this.total ? ('quiz.finish' | translate) : ('quiz.next' | translate)}}</button></ion-col>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-segment>
      <div class='good-answer answer'>{{good}}</div>
      <div class='bad-answer answer'>{{bad}}</div>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
