<ion-header>
  <ion-navbar>
    <ion-title>{{ 'quiz.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="selectedWord && optionWords">
  <div class="counter">{{current}}/{{total}}</div>
  <ion-grid>
    <ion-row>
      <ion-col col12>
        <div class="word">{{ selectedWordTranslation }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col12>
          <div class="word">{{ selectedWord.hiragana }}</div>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col col12> 
        <div class="container">
          <div *ngFor="let s of solution; let i=index" class="box" (click)="clearSelection(i)" #solution><div class="character">{{s}}</div></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="bottom">
      <ion-col col12>
        <div class="container">
          <div *ngFor="let s of optionWords" class="box centered-parent" (click)="selected(s)"><div class="character centered">{{s}}</div></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="bottom-btn-when-footer">
    <ion-col col-12><button ion-button block (click)="goNext()" *ngIf="next">{{this.current == this.total ? ('quiz.finish' | translate) : ('quiz.next' | translate)}}</button></ion-col>
</div>

<ion-footer>
    <ion-toolbar>
        <ion-segment>
        <div class='aGood'>{{good}}</div>
        <div class='aBad'>{{bad}}</div>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
